.card {
    width: 100px;
    height: 100px;
    background-color: aqua;
    padding: 200px;
    border: 5px dashed #ff0000;
    text-align: center;
    margin: auto;
}

h2 {
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

p {
    color: black;
    font-size: 30px;
    font-style: italic;
}

body {
    height: 100vh;
}