body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box1 {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.box2 {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}

.box3 {
    width: 200px;
    height: 100px;
    background-color: greenyellow;
    align-items: center;
    border: 1px solid black;
}

.container3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box4 {
    width: 200px;
    height: 100px;
    background-color: yellow;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}

.box5 {
    width: 200px;
    height: 100px;
    background-color: pink;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}